@page
@model DetailsModel
@{
  ViewData["Title"] = "Details";
  Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="card card-sm">
  <div class="card-header">
    <h4>
      <strong>Card</strong>
      <small>8080 8080 8080 8080</small>
    </h4>
  </div>
  <form method="post" novalidate="novalidate">
    <div class="card-body">
      <div class="text-danger validation-summary-valid d-none" data-valmsg-summary="true">
        <ul>
          <li class="d-none"></li>
        </ul>
      </div>
      <h5 class="mb-4">
        <strong>Currency Balances</strong>
        <small></small>
      </h5>
      <div class="row">
        <div class="form-group col-xs-6 col-sm-4 col-lg-3">
          <div class="row">
            <label class="col-3 col-form-label text-right">USD</label>
            <div class="col-9">
              <input class="form-control text-right" type="text" value="1,000,000.00" readonly />
            </div>
          </div>
        </div>
        <div class="form-group col-xs-6 col-sm-4 col-lg-3">
          <div class="row">
            <label class="col-3 col-form-label text-right">JPY</label>
            <div class="col-9">
              <input class="form-control text-right" type="text" value="1,000,000.00" readonly />
            </div>
          </div>
        </div>
        <div class="form-group col-xs-6 col-sm-4 col-lg-3">
          <div class="row">
            <label class="col-3 col-form-label text-right">PHP</label>
            <div class="col-9">
              <input class="form-control text-right" type="text" value="1,000,000.00" readonly />
            </div>
          </div>
        </div>
        <div class="form-group col-xs-6 col-sm-4 col-lg-3">
          <div class="row">
            <label class="col-3 col-form-label text-right">CNY</label>
            <div class="col-9">
              <input class="form-control text-right" type="text" value="1,000,000.00" readonly />
            </div>
          </div>
        </div>
      </div>

      <h5 class="mt-4 mb-4">
        <strong>Transactions</strong>
        <small></small>
      </h5>
      <table data-order='[[ 0, "asc" ]]' class="table table-striped table-bordered table-responsive-sm datatable">
        <thead>
          <tr>
            <th>
              @Html.DisplayNameFor(model => model.Input.TranDate)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Input.TranType)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Input.MerchantName)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Input.MerchantId)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Input.Currency)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Input.Amount)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              12341234
            </td>
            <td>
              007
            </td>
            <td>
              123456
            </td>
            <td>
              19/2020
            </td>
            <td>
              19/2020
            </td>
            <td>
              19/2020
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="form-group mb-0">
        <a class="btn btn-secondary" asp-page="./Index">
          <i class="fa fa-caret-left"></i>
          Back
        </a>
      </div>
    </div>
  </form>
</div>
