@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
    Layout = "~/Pages/Shared/_BlankLayout.cshtml";
}

<div class="container">
  <div class="row">
    <div class="col-11">
      <div class="float-right"><partial name="_SelectLanguagePartial" /></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <form id="account" method="post">
              <h2>@ViewData["Title"]</h2>
              <p class="text-muted">@Localizer["Enter your email"]</p>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
                </div>
                <input asp-for="Input.UserName" class="form-control" />
              </div>
              <span asp-validation-for="Input.UserName" class="text-danger"></span>
              <div class="input-group mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-envelope"></i>
                  </span>
                </div>
                <input asp-for="Input.Email" class="form-control" />
              </div>
              <span asp-validation-for="Input.Email" class="text-danger"></span>
              <div class="row mt-4">
                <div class="col-md-5 text-center text-md-left">
                  <button class="btn btn-primary px-4" type="submit">@Localizer["Submit"]</button>
                </div>
                <div class="col-md-7 text-md-right text-center mt-4 mt-md-0">
                  <a class="btn btn-link p-0" asp-page="./Login">@Localizer["Sign In to your account"]</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card text-white bg-primary py-5 d-md-down-none" style="width: 44%">
          <div class="card-body text-center d-flex">
            <div class="m-auto">
              <h1>Demo</h1>
              <h4>@Localizer["Cobrand Card System"]</h4>
              <p></p>
              <p>@Localizer["Personal Cards Management System"]</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
